%h1 Army

%table
  %thead
    %tr
      %th Name
      %th.action Edit
      %th.action Destroy
  %tbody
    - @armies.each do |army|
      %tr
        %td= link_to army.name, army
        %td= link_to 'Edit', edit_army_path(army)
        %td= link_to 'Destroy', army, method: :delete, data: { confirm: 'Are you sure?' }


= link_to 'New Army', new_army_path, class: "button"
