%h1 Army

- @armies.each do |army|
  %h2= link_to army.name, army
  %p= link_to 'Edit Army', edit_army_path(army)
  %p= link_to 'Destroy', army, :method => :delete, :data => { :confirm => 'Are you sure?' }

= link_to 'New Army', new_army_path
