@import "bourbon"

// This is a manifest file that'll be compiled into application.css, which will include all the files
// listed below.
//
// Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
// or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
//
// You're free to add application-wide styles to this file and they'll appear at the top of the
// compiled file, but it's generally better to create a new file per style scope.
//
//= require_self

// ----------------------------------------------------------------------------
// Reset
// ----------------------------------------------------------------------------
*
  margin: 0
  padding: 0
  // background-color: black


// ----------------------------------------------------------------------------
// Typography
// ----------------------------------------------------------------------------
h1
  margin: 10px 0

h3
  border-bottom: 1px solid gray
  padding-bottom: 3px
  margin-bottom: 10px
  margin-top: 40px

// ----------------------------------------------------------------------------
// Layout
// ----------------------------------------------------------------------------
body
  font-family: helvetica, sans-serif
  font-size: 12px

#pagewrap
  width: 980px
  margin: 0 auto

// ----------------------------------------------------------------------------
// Tables
// ----------------------------------------------------------------------------
table
  background: white
  margin-bottom: 10px
  border-collapse: collapse
  width: 100%
  &.tank
    border-none
    td
      border: none
      padding: none
  thead
    tr
      th
        border: 1px solid gray
        background: #333
        color: white
        padding: 5px 10px
        text-align: left
        &.action
          width: 55px
  tbody
    tr
      td
        border: 1px solid gray
        padding: 5px 10px
        background: #516780
// ----------------------------------------------------------------------------
// New army form
// ----------------------------------------------------------------------------

form#new_army
  width: 600px

  .squad.fields
    border: 1px solid #ccc
    background: #f0f0f0
    border-radius: 5px
    padding: 15px
    margin-bottom: 10px

  .remove_squad
    float: right

  #add_squad
    @include button(#809743)
    margin-bottom: 10px
    float: right
  .remove_troop
    @include button(pill, #FF3D00)
    float: right
    margin-top: -15px
    margin-right: 25px

  .input.select.optional.army_squads_troops_weapon
    .select
      width: 110px
      background-color: gray

  .squadpoints
    float: right
    margin-right: 80px
    margin-top: -20px

  a.add_troop
    @include button(pill, #2BB99D)
  #add_heavyweapon
    @include button(#00ADFF)
    float: right
  #add_elite
    @include button(#351792)
    float: right
  #add_hq
    @include button(#B6C509)
    float: right
    width: 60px
// ----------------------------------------------------------------------------
// Misc
// ----------------------------------------------------------------------------
.troop_icon
  float: right
  width: 30px
  height: 30px
  &.havoc
    background: image-url("choas/havoc.jpeg")
  &.champion
    background: image-url("choas/champion.jpeg")
  &.choasmarine
    background: image-url("choas/choasmarine.jpg")
  &.gunney
    background: image-url("choas/gunny.jpeg")
  &.tenk
    background: image-url("choas/10k.jpeg")
  &.tenkleader
    background: image-url("choas/10kleader.jpeg")
  &.terminator
    background: image-url("choas/terminator.jpeg")
  &.landraider
    background: image-url("choas/landraider.jpg")
    width: 250px
    height: 185px


label
  display: block

.button
  @include button(pill)
  margin-bottom: 10px

.input
  margin-bottom: 10px



